/* weather-section */

.weather-section-wrapper {
  background-color: red;
  padding: 11px 15px;
  backdrop-filter: blur(8px);
  background: transparent;
  border: 1px solid gray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.icon-section {
  margin-top: 2rem;
  padding: 8px 11px;
  background-color: rgb(224, 154, 227);
  border-radius: 6px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icon {
  height: 100px;
  width: 100px;
}
.icon-section > div:last-child > h1 {
  color: black;
  font-weight: bolder;
  font-size: 1.5rem;
}
.icon-section > div:last-child > h1 > span {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}

.location-section {
  background-color: rgb(136, 181, 233);
  font-weight: bolder;
  border-radius: 6px;
  padding: 8px 11px;
}
.location-section > h1 {
  color: black;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2rem;
}
.location-section > h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}
.button-section {
  padding: 5px 11px;
  display: flex;
  justify-content: space-around;
}
.button-wind {
  background-color: rgb(0, 182, 30);
  padding: 5px 11px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.button-humidity {
  background-color: rgb(56, 99, 220);
  padding: 5px 11px;
  border-radius: 6px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.end-section {
  padding: 8px 15px;
  background-color: grey;
  border-radius: 4px;
}
